<div class="border border-gray-200 rounded-lg p-4 m-4 shadow-md">
  <h2 class="text-xl font-bold text-gray-800 m-0">{{ hero().name }}</h2>
  <div class="mt-3">
    <p class="mb-2">
      <span class="font-semibold">Alter Ego:</span> {{ hero().alterEgo }}
    </p>
    <p class="mb-2">
      <span class="font-semibold">Publisher:</span> {{ hero().publisher }}
    </p>
    <p class="mb-2">
      <span class="font-semibold">First Appearance:</span>
      {{ hero().firstAppearance }}
    </p>
    <div>
      <span class="font-semibold">Powers:</span>
      <ul class="mt-2 ml-5 list-disc">
        @for (power of hero().powers; track power) {
          <li class="mb-1">{{ power }}</li>
        }
      </ul>
    </div>
  </div>
</div>
